{% extends 'admin/change_form.html' %}

{% load static %}

{% block admin_change_form_document_ready %}
{{ block.super }}

<style>
.field-forme_delegation_autre,
.field-action_delegation_autre,
.field-ensemble_thematique_nom,
.field-commentaire_nombre,
.field-prem_onglet_autre,
.field-deux_onglet_autre,
.field-trois_onglet_autre,
.field-orchestration,
.field-structure,
.field-language_musical,
.field-genre_musical,
.field-style_musical,
.field-nb_hommes,
.field-nb_femmes,
.field-nb_humains_indetermines,
.field-role_humain_femme,
.field-role_humain_homme,
.field-role_humain_neutre,
.field-nb_pers_anime_hommes,
.field-nb_pers_anime_femmes,
.field-nb_pers_anime_indetermines,
.field-role_pers_anime_femme,
.field-role_pers_anime_homme,
.field-role_pers_anime_neutre,
.field-nb_males,
.field-nb_femelles,
.field-nb_animaux_indetermines,
.field-role_animaux_femme,
.field-role_animaux_homme,
.field-role_animaux_neutre,
.field-nb_instr_anime_hommes,
.field-nb_instr_anime_femmes,
.field-nb_instr_anime_indetermines,
.field-role_instr_anime_femme,
.field-role_instr_anime_homme,
.field-role_instr_anime_neutre
{
    display : none;
}

</style>
<script>
    function titres(){
        $("[for=id_titre]").parent().parent().before( "<h2>Référencement</h2><br>");
        $("[for=id_premier_onglet]").parent().parent().before("<h2>Découvrabilité/Accessibilité</h2><br>");
        $("[for=id_materiau_musical]").parent().parent().before("<h2>Discours sur la musique</h2><br>");
        $("[for=id_sollicitation_musicale]").parent().parent().before("<h2>Sollicitations de l'usager</h2><br>");
        $("[for=id_temps_mus]").parent().parent().before("<h2>Place de la musique</h2><br>");
        $("[for=id_evocation_graphique]").parent().parent().before("<h2>Évocation de la musique extra-sonore</h2><br>");
        $("[for=id_evocation_autre]").parent().parent().before("<h2>Interdisciplinarité</h2><br>");
        $("[for=id_nb_humains_total]").parent().parent().before("<h2>Stéréotypes de genre</h2><br>");
        $("[for=id_email]").parent().parent().before("<h2><br></h2><br>")
        $("[for=id_orchestration]").parent().before("<small>Pour les questions 25.X on entre toujours les termes les plus spécifiques. Ex. Basse continue et pas Harmonie.<br>Ne sont rentrés dans le catalogue que les notions qui sont explicites visuellements ou auditivement.<br><br></small>");
    }

    function dynamicForm(){
        if(document.getElementById("id_forme_delegation_4").checked == true){
            $("#id_forme_delegation_autre").parent().parent().show(400)
        }
        else{
            $("#id_forme_delegation_autre").parent().parent().hide(400)
        }

        if(document.getElementById("id_action_4").checked == true){
            $("#id_action_delegation_autre").parent().parent().show(400)
        }
        else{
            $("#id_action_delegation_autre").parent().parent().hide(400)
        }

        if(document.getElementById("id_ensemble_thematique").value == "Non"){
                $("#id_ensemble_thematique_nom").parent().parent().hide(400)
        }
        else{
            $("#id_ensemble_thematique_nom").parent().parent().show(400)
        }
        if(document.getElementById("id_commentaire_possible").checked == false){
            $("#id_commentaire_nombre").parent().parent().hide(400)
        }
        else{
            $("#id_commentaire_nombre").parent().parent().show(400)
        }
        if(document.getElementById("id_premier_onglet").value == "Autre"){
            $("#id_prem_onglet_autre").parent().parent().show(400)
        }
        else{
            $("#id_prem_onglet_autre").parent().parent().hide(400);
        }
        if(document.getElementById("id_deuxieme_onglet").value == "Autre"){
            $("#id_deux_onglet_autre").parent().parent().show(400)
        }
        else{
            $("#id_deux_onglet_autre").parent().parent().hide(400);
        }
        if(document.getElementById("id_troisieme_onglet").value == "Autre"){
            $("#id_trois_onglet_autre").parent().parent().show(400)
        }
        else{
            $("#id_trois_onglet_autre").parent().parent().hide(400);
        }

        if(document.getElementById("id_materiau_musical").value == "Oui"){
            $("#add_id_orchestration").parent().parent().parent().show(400)
            $("#add_id_structure").parent().parent().parent().show(400)
            $("#add_id_language_musical").parent().parent().parent().show(400)
            $("#add_id_genre_musical").parent().parent().parent().show(400)
            $("#add_id_style_musical").parent().parent().parent().show(400)
            $(".small").show(400)
        }
        else{
            $("#add_id_orchestration").parent().parent().parent().hide(400)
            $("#add_id_structure").parent().parent().parent().hide(400)
            $("#add_id_language_musical").parent().parent().parent().hide(400)
            $("#add_id_genre_musical").parent().parent().parent().hide(400)
            $("#add_id_style_musical").parent().parent().parent().hide(400)
            $(".small").hide(400)
        }


        if(document.getElementById("id_nb_humains_total").value != "0"){
            $("#id_nb_hommes").parent().parent().show(400);
            $("#id_nb_femmes").parent().parent().show(400);
            $("#id_nb_humains_indetermines").parent().parent().show(400);
        }
        else{
            $("#id_nb_hommes").parent().parent().hide(400);
            $("#id_nb_femmes").parent().parent().hide(400);
            $("#id_nb_humains_indetermines").parent().parent().hide(400);
        }
        if(document.getElementById("id_nb_hommes").value > 0){
            $("#add_id_role_humain_homme").parent().parent().parent().show(400);
        }
        else{
            $("#add_id_role_humain_homme").parent().parent().parent().hide(400);
        }
        if(document.getElementById("id_nb_femmes").value > 0){
            $("#add_id_role_humain_femme").parent().parent().parent().show(400);
        }
        else{
            $("#add_id_role_humain_femme").parent().parent().parent().hide(400);
        }
        if(document.getElementById("id_nb_humains_indetermines").value > 0){
            $("#add_id_role_humain_neutre").parent().parent().parent().show(400);
        }
        else{
            $("#add_id_role_humain_neutre").parent().parent().parent().hide(400);
        }
        if(document.getElementById("id_nb_pers_anime_total").value != "0"){
            $("#id_nb_pers_anime_hommes").parent().parent().show(400);
            $("#id_nb_pers_anime_femmes").parent().parent().show(400);
            $("#id_nb_pers_anime_indetermines").parent().parent().show(400);
        }
        else{
            $("#id_nb_pers_anime_hommes").parent().parent().hide(400);
            $("#id_nb_pers_anime_femmes").parent().parent().hide(400);
            $("#id_nb_pers_anime_indetermines").parent().parent().hide(400);
        }
        if(document.getElementById("id_nb_pers_anime_hommes").value > 0){
            $("#add_id_role_pers_anime_homme").parent().parent().parent().show(400);
        }
        else{
            $("#add_id_role_pers_anime_homme").parent().parent().parent().hide(400);
        }
        if(document.getElementById("id_nb_pers_anime_femmes").value > 0){
            $("#add_id_role_pers_anime_femme").parent().parent().parent().show(400);
        }
        else{
            $("#add_id_role_pers_anime_femme").parent().parent().parent().hide(400);
        }
        if(document.getElementById("id_nb_pers_anime_indetermines").value > 0){
            $("#add_id_role_pers_anime_neutre").parent().parent().parent().show(400);
        }
        else{
            $("#add_id_role_pers_anime_neutre").parent().parent().parent().hide(400);
        }
        if(document.getElementById("id_nb_animaux_total").value != "0"){
            $("#id_nb_males").parent().parent().show(400);
            $("#id_nb_femelles").parent().parent().show(400);
            $("#id_nb_animaux_indetermines").parent().parent().show(400);
        }
        else{
            $("#id_nb_males").parent().parent().hide(400);
            $("#id_nb_femelles").parent().parent().hide(400);
            $("#id_nb_animaux_indetermines").parent().parent().hide(400);
        }
        if(document.getElementById("id_nb_males").value > 0){
            $("#add_id_role_animaux_homme").parent().parent().parent().show(400);
        }
        else{
            $("#add_id_role_animaux_homme").parent().parent().parent().hide(400);
        }
        if(document.getElementById("id_nb_femelles").value > 0){
            $("#add_id_role_animaux_femme").parent().parent().parent().show(400);
        }
        else{
            $("#add_id_role_animaux_femme").parent().parent().parent().hide(400);
        }
        if(document.getElementById("id_nb_animaux_indetermines").value > 0){
            $("#add_id_role_animaux_neutre").parent().parent().parent().show(400);
        }
        else{
            $("#add_id_role_animaux_neutre").parent().parent().parent().hide(400);
        }


        if(document.getElementById("id_nb_instr_anime_total").value != "0"){
            $("#id_nb_instr_anime_hommes").parent().parent().show(400);
            $("#id_nb_instr_anime_femmes").parent().parent().show(400);
            $("#id_nb_instr_anime_indetermines").parent().parent().show(400);
        }
        else{
            $("#id_nb_instr_anime_hommes").parent().parent().hide(400);
            $("#id_nb_instr_anime_femmes").parent().parent().hide(400);
            $("#id_nb_instr_anime_indetermines").parent().parent().hide(400);
        }
        if(document.getElementById("id_nb_instr_anime_hommes").value > 0){
            $("#add_id_role_instr_anime_homme").parent().parent().parent().show(400);
        }
        else{
            $("#add_id_role_instr_anime_homme").parent().parent().parent().hide(400);
        }
        if(document.getElementById("id_nb_instr_anime_femmes").value > 0){
            $("#add_id_role_instr_anime_femme").parent().parent().parent().show(400);
        }
        else{
            $("#add_id_role_instr_anime_femme").parent().parent().parent().hide(400);
        }
        if(document.getElementById("id_nb_instr_anime_indetermines").value > 0){
            $("#add_id_role_instr_anime_neutre").parent().parent().parent().show(400);
        }
        else{
            $("#add_id_role_instr_anime_neutre").parent().parent().parent().hide(400);
        }
    }
    window.setInterval(function(){
        dynamicForm()
    }, 100);
    $(document).ready(function(){titres()});

</script>
{% endblock %}