{% extends 'base.html' %}

{% block body %}
<div class="loader-section" id="loader-section"></div>
<div id="loader"></div>
<div id="loader-text">
    <p>Veuillez patienter,<br>la recherche peut prendre quelques instants</p>
</div>
    <div class="container-fluid">
        <div class="col-md-11">
            <div class="page-header">
                <h4><b>&nbsp; Catalogue Raisonné de Dispositifs numériques de Médiation de la Musique</b>
                    <a data-html="true" class='my-tool-tip' data-toggle="tooltip" data-placement="bottom" data-title="
                    <p style='text-decoration:underline; font-size:13pt;'>Ce catalogue raisonné n’a pas pour vocation de recenser:</p>
                        <ul>
                            <li>Les dispositifs numériques qui pourraient être imprimés sans rien ne perdre de leur contenu.</li>
                            <li>Les documents initialement conçus pour la télévision.</li>
                            <li>Les dispositifs à but promotionnel et directement liés à la programmation d’un organisme.</li>
                            <li>Les reportages et autres documents archivant des activités de médiation ayant eu lieu.</li>
                            <li>Les dispositifs qui consistent simplement au croisement des arts.</li>
                        </ul>">
                        <sup><span class='glyphicon glyphicon-info-sign'></span></sup>
                    </a>
                </h4>
            </div>
        </div>
    </div>
    <div>
        <div class="col-md-10 col-md-offset-1">
            <br>
            <!--(21-06-2018) liste non-utilisés : [115, 171, 47, 12, 119, 128,175, 81, 95, 24, 139, 111, 140,173, 164, 27, 22, 21, 121, 120, 127,174, 87, 147, 6, 131, 143, 157, 63, 26, 13, 177, 126, 35, 129, 66, 48, 124, 165, 8, 16, 110,176, 52, 50, 103, 158, 75, 137, 144, 105, 10, 20, 166, 167, 65, 64, 132, 130, 90, 117, 43, 31, 7, 73, 133, 112, 96, 62, 89, 149, 84, 159, 54, 168, 34, 4, 141, 146, 104, 142, 116, 38, 169, 93, 53, 40, 72, 152, 153, 138, 107, 51, 106, 36, 91, 49, 17, 123, 151, 113, 55, 56, 86, 9, 5, 67, 1, 76, 160, 161, 135, 85, 94, 25, 109, 74, 28, 150, 23, 77, 97, 136, 44, 148, 29, 61, 3, 98, 58, 83, 172, 14, 122, 42, 82, 45, 101, 163, 114, 155, 99, 134, 71, 170, 78, 145] -->
            <!--liste utilisés : [88, 19, 102, 70, 156, 68, 69, 33, 39, 2, 11, 46, 108, 30, 154, 80, 41, 118, 59, 18, 79, 92, 162, 125, 100] -->
            {% for outil in outils %}
                {% if outil.pk == 88 %}
                    <center>
                        {% if outil.page_outil == True and outil.integration == "" %}
                           <iframe src="{{ outil.url }}" height="400" width="1000"></iframe>
                        {% elif outil.page_outil == False and outil.integration == "" %}
                            <img src="../static/media/backup_alaune.png">
                        {% else %}
                            {% autoescape off %}
                                <div class="col-md-10">
                                    {{ outil.integration }}
                                </div>
                            {% endautoescape %}
                        {% endif %}
                        <a id="alaune" href="../{{ outil.id }}" style="" class="lien"></a>
                        <h2 class="alaune-titre">À la une</h2>
                        <h4 class="alaune-titre">{{ outil.titre }}</h4>
                        <h5 class="alaune-titre">
                            {% for i in outil.producteur_nom.all %}
                                {{ i.nom  }}{% if not forloop.last %},&nbsp;{% else %}{% endif %}
                            {% endfor %}
                        </h5>
                        {% if outil.mise_en_ligne_date is not None %}
                            <h6 class="alaune-titre">
                                {{ outil.mise_en_ligne_date|date:" j F Y"  }}
                            </h6>
                        {% endif %}
                    </center>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class='container-fluid'>
            <div class="col-md-10 col-md-offset-1" id="form-motcle">
                <br>
                <form method='GET' class='' action='/recherche_motcle/' onsubmit="showLoader()">
                    {% csrf_token %}
                    <div class="input-group form-group-no-border mx-auto" style="margin-bottom: 0px; font-size: 32px;">
                       <span class="input-group-addon cfe-nav">
                            <button style="border: none; background-color: #eeeeee;"><span class="glyphicon glyphicon-search" aria-hidden="true" style="color: #404040;"></span></button>
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </span>
                        <input type="text" name="q" data-toggle="popover" data-placement="bottom" data-content='Appuyez sur la touche "enter" pour lancer la recherche' class="form-control cfe-nav mt-0 py-3" placeholder="Recherche par mots-clés">
                    </div>
                </form>
                <small><a href="{% url 'recherche' %}">Recherche avancée</a><br><br></small>
            </div>
    </div>
<script type="text/javascript" src="../static/scripts/loader.js"></script>
<script>
    $('[data-toggle="tooltip"]').tooltip();
</script>
{% endblock %}
{% block footer %}
    <div class="col-md-10 col-md-offset-1" style="" id="footer" align="center">
        <br>
        <a href="http://p2m.oicrm.org" target="_blank">
            <img src="../static/media/logoP2Mmini.png" width="90px" alt="logoP2M">
        </a>
        <br><br>
    </div>
{% endblock %}
