<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Musique Médiation Numérique OICRM P2M">
    <meta name="author" content="Charles Campeau-Bedford">
    <title>{% block title %}Catalogue raisonné de dispositifs numériques de médiation de la musique{% endblock %}</title>
    {% load staticfiles %}
    {% load has_group %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="/static/media/icone.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../static/scripts/jquery.waypoints.min.js"></script>
    <script src="../static/scripts/infinite.min.js"></script>
</head>
<body>
    {% block header %}
        <header>
            <nav class="navbar navbar-inverse" >
                <div class="container-fluid">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#barreNav">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{% url 'aLaUne' %}"><img src="../static/media/icone_blanc.png" alt="icone" height="25px"/></a>
                    </div>

                    <div class="collapse navbar-collapse" id="barreNav">

                        {% if not user.is_authenticated %}

                        <ul class="nav navbar-nav navbar-right dropdown">
                             <li>
                        <a data-toggle="dropdown" href="#">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Utilisateur
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href='/login/?next={{request.path}}'>
                                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp; S'identifier
                                    </a>
                            </li>
                                <li>
                                    <a href="/sinscrire">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> S'inscrire
                                    </a>
                                </li>

                            </li>
                        </ul>
                        </ul>

                        {% else %}


                         <ul class="nav navbar-nav navbar-right dropdown">
                             <li>
                        <a data-toggle="dropdown" href="#">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; {{ user.username }}
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href='/logout/?next=/'>
                                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp; Déconnection
                                    </a>
                            </li>
                                <li>
                                    <a href="/password_change/">
                                        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Changer le mot de passe
                                    </a>
                                </li>

                            </li>
                        </ul>
                        </ul>
                        {% if request.user|has_group:"Chercheur" %}
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="JavaScript:newPopup('/admin/bdmultimedia/outil/add/?_to_field=id&amp;_popup=1');" id="bleu">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Nouvel Outil
                                    </a>
                                </li>
                            </ul>
                        {% endif %}
                            {% comment %}
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="JavaScript:newPopup('/admin/bdmultimedia/contreexemple/add/?_to_field=id&amp;_popup=1');">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Contre Exemple
                                    </a>
                                </li>
                            </ul>
                            {% endcomment %}
                        {% endif %}

                          <ul class="nav navbar-nav navbar-right dropdown">
                             <li>
                        <a data-toggle="dropdown" href="#">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp; Recherche
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href='/recherche_motcle'>
                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp; Par mots-clés
                                    </a>
                            </li>
                                <li>
                                    <a href="/recherche/">
                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp; Recherche avancée
                                    </a>
                                </li>

                            </li>
                        </ul>
                        </ul>
                        {% if request.user|has_group:"Chercheur" %}
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href='/export/xls' id="jaune"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>&nbsp; Exporter</a>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href='/gerer' id="vert"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp; Gérer</a>
                                </li>
                            </ul>
                        {% endif %}
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/liste/?csrfmiddlewaretoken={{ csrf_token }}&q=" id="rouge"><span class="glyphicon glyphicon-list" aria-hidden="true"></span>&nbsp; Liste</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    <script type="text/javascript" src="../static/scripts/popup.js"></script>
    {% endblock %}
    {% block body%}

    {% endblock%}
    {% block footer %}
        <footer>
                <br><br><br>
        </footer>
    {% endblock %}
</body>
</html>
