<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Musique Médiation Numérique OICRM P2M">
    <meta name="author" content="Charles Campeau-Bedford">
    <title>{% block title %}Catalogue raisonné de dispositifs numériques de médiation de la musique{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="/static/media/icone.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../static/scripts/jquery.waypoints.min.js"></script>
    <script src="../static/scripts/infinite.min.js"></script>
</head>
<body>
    {% block header %}
        <header>
            <nav class="navbar navbar-inverse" >
                <div class="container-fluid">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#barreNav">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{% url 'aLaUne' %}"><img src="../static/media/icone_blanc.png" alt="icone" height="25px"/></a>
                    </div>

                    <div class="collapse navbar-collapse" id="barreNav">

                        {% if not user.is_authenticated %}
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href='/login/?next={{request.path}}' id="rouge">
                                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; S'identifier
                                    </a>
                                </li>
                            </ul>
                        {% else %}
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href='/logout/?next=/' id="rouge">
                                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Déconnection
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="JavaScript:newPopup('/admin/bdmultimedia/outil/add/?_to_field=id&amp;_popup=1');" id="bleu">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Nouvel Outil
                                    </a>
                                </li>
                            </ul>
                            {% comment %}
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="JavaScript:newPopup('/admin/bdmultimedia/contreexemple/add/?_to_field=id&amp;_popup=1');">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Contre Exemple
                                    </a>
                                </li>
                            </ul>
                            {% endcomment %}
                        {% endif %}
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href='/recherche_motcle/'><span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp; Recherche</a>
                            </li>
                        </ul>
                        {% if user.is_authenticated %}

                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href='/export/xls' id="jaune"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>&nbsp; Exporter</a>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href='/gerer' id="vert"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp; Gérer</a>
                                </li>
                            </ul>
                        <!--
                        <ul class="nav navbar-nav navbar-right dropdown">
                            <li>
                        <a data-toggle="dropdown" href="#">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp; Gérer
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Gérer les </li>
                            <li>
                                <li><a href="/gerer_prodtype">Types de producteur</a></li>
                                    <li><a href="/gerer_producteurnom">Noms de producteur</a></li>
                                    <li><a href="/gerer_supportdiffusion">Supports de diffusion</a></li>
                                    <li><a href="/gerer_formatoutil">Formats de dispositifs</a></li>
                                    <li><a href="/gerer_formenarrative">Formes narratives</a></li>
                                    <li><a href="/gerer_modehebergement">Modes d'hébergement</a></li>
                                    <li><a href="/gerer_modeconsultation">Modes de consultation</a></li>
                                    <li><a href="/gerer_languenarration">Langues de dispositifs</a></li>
                                    <li><a href="/gerer_soustitre">Sous-titres</a></li>
                                    <li><a href="/gerer_orchestration">Notions d'orchestration</a></li>
                                    <li><a href="/gerer_structure">Structures</a></li>
                                    <li><a href="/gerer_languagemusical">Notions de laguage musical</a></li>
                                    <li><a href="/gerer_genremusical">Genres musicaux</a></li>
                                    <li><a href="/gerer_stylemusical">Styles musicaux</a></li>
                                    <li><a href="/gerer_experiencemusicale">Notions d'expérience musicale</a></li>
                                    <li><a href="/gerer_contexte">Contexte de composition, création, interprétation, etc.</a></li>
                                    <li><a href="/gerer_roleevolution">Rôle de l'évolution de ...</a></li>
                                    <li><a href="/gerer_organologie">Notions d'organologie</a></li>
                                    <li><a href="/gerer_sollicitationmusicale">Pour comprendre le discours sur la musique</a></li>
                                    <li><a href="/gerer_sollicitationgenerale">Pour comprendre le discours général</a></li>
                                    <li><a href="/gerer_evocationgraphique">Évocations graphiques</a></li>
                                    <li><a href="/gerer_evocationplastique">Évocations plastiques</a></li>
                                    <li><a href="/gerer_evocationautre">Évocations d'autres disciplines</a></li>
                                    <li><a href="/gerer_notionsinter">Interdisciplinarité</a></li>
                                    <li><a href="/gerer_rolefemmes">Rôles des femmes</a></li>
                                    <li><a href="/gerer_rolehommes">Rôles des hommes</a></li>
                                    <li><a href="/gerer_rolehumainneutre">Rôles de humains au genre indéterminé</a></li>
                                    <li><a href="/gerer_rolepersanimfemmes">Rôles des personnages animés femmes</a></li>
                                    <li><a href="/gerer_rolepersanimhommes">Rôles des personnages animés hommes</a></li>
                                    <li><a href="/gerer_rolepersanimneutre">Rôles des personnages animés au genre indéterminé</a></li>
                                    <li><a href="/gerer_roleanimauxfemmes">Rôles des animaux femelles</a></li>
                                    <li><a href="/gerer_roleanimauxhommes">Rôles des animaux mâles</a></li>
                                    <li><a href="/gerer_roleanimauxneutre">Rôles des animaux au genre indéterminé</a></li>
                                    <li><a href="/gerer_roleinstrfemmes">Rôles des instruments "féminins"</a></li>
                                    <li><a href="/gerer_roleinstrhommes">Rôles des instruments "masculins"</a></li>
                                    <li><a href="/gerer_roleinstrneutre">Rôles des instruments au genre indéterminé</a></li>
                                                    </li>
                            </ul>
                            </li>
                        </ul>
                        -->
                        {% endif %}
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/liste/?csrfmiddlewaretoken={{ csrf_token }}&q=" id="rouge"><span class="glyphicon glyphicon-list" aria-hidden="true"></span>&nbsp; Liste</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    <script type="text/javascript" src="../static/scripts/popup.js"></script>
    {% endblock %}
    {% block body%} {% endblock%}
    {% block footer %}
        <footer>
                <br><br><br>
        </footer>
    {% endblock %}
</body>
</html>
