{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap_tags %}

{% block title %}Ajout dispositif {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
	<p>&nbsp;</p>
	<p>&nbsp;</p>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><center>Nouveau dispositif</center></h3>
                </div>
                <div class="panel-body">

                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form|as_bootstrap }}
                        <div class="form-actions">
                          <button type="submit" class="btn btn-primary" name="submit">Enregistrer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
