<!DOCTYPE html>
<html lang="fr">
{% extends 'base.html' %}

{% block title %}Gérer{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="col-md-10">
        <div class="page-header">
            <h4> Gérer: </h4>
        </div>
        <ul>
            <li><a href="/gerer_prodtype">Types de producteur</a></li>
            <li><a href="/gerer_supportdiffusion">Supports de diffusion</a></li>
            <li><a href="/gerer_formatoutil">Formats de dispositifs</a></li>
            <li><a href="/gerer_formenarrative">Formes narratives</a></li>
            <li><a href="/gerer_modehebergement">Modes d'hébergement</a></li>
            <li><a href="/gerer_modeconsultation">Modes de consultation</a></li>
            <li><a href="/gerer_languenarration">Langues de dispositifs</a></li>
            <li><a href="/gerer_soustitre">Sous-titres</a></li>
            <li><a href="/gerer_orchestration">Notions d'orchestration</a></li>
            <li><a href="/gerer_structure">Structures</a></li>
            <li><a href="/gerer_languagemusical">Notions de laguage musical</a></li>
            <li><a href="/gerer_genremusical">Notions de genre musical</a></li>
            <li><a href="/gerer_stylemusical">Notions de style musical</a></li>
            <li><a href="/gerer_experiencemusicale">Notions d'expérience musicale</a></li>
            <li><a href="/gerer_contexte">Contexte de composition, création, interprétation, etc.</a></li>
            <li><a href="/gerer_roleevolution">Rôle de l'évolution de ...</a></li>
            <li><a href="/gerer_sollicitationmusicale">Sollicitation musicale</a></li>
            <li><a href="/gerer_sollicitationgenerale">Sollicitation generale</a></li>
            <li><a href="/gerer_evocationgraphique">Évocations graphiques</a></li>
            <li><a href="/gerer_evocationplastique">Évocations plastiques</a></li>
            <li><a href="/gerer_evocationautre">Évocations d'autres disciplines</a></li>
            <li><a href="/gerer_notionsinter">Notions évoqués de manière interdisciplinaire</a></li>
            <li><a href="/gerer_rolefemmes">Rôles des femmes</a></li>
            <li><a href="/gerer_rolehommes">Rôles des hommes</a></li>
            <li><a href="/gerer_rolehumainneutre">Rôles de humains au genre indéterminé</a></li>
            <li><a href="/gerer_rolepersanimfemmes">Rôles des personnages animés femmes</a></li>
            <li><a href="/gerer_rolepersanimhommes">Rôles des personnages animés hommes</a></li>
            <li><a href="/gerer_rolepersanimneutre">Rôles des personnages animés au genre indéterminé</a></li>
            <li><a href="/gerer_roleanimauxfemmes">Rôles des animaux femelles</a></li>
            <li><a href="/gerer_roleanimauxhommes">Rôles des animaux mâles</a></li>
            <li><a href="/gerer_roleanimauxneutre">Rôles des animaux au genre indéterminé</a></li>
            <li><a href="/gerer_roleinstrfemmes">Rôles des instruments "féminins"</a></li>
            <li><a href="/gerer_roleinstrhommes">Rôles des instruments "masculins"</a></li>
            <li><a href="/gerer_roleinstrneutre">Rôles des instruments au genre indéterminé</a></li>
        </ul>
    </div>
</div>
{% endblock %}