{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap_tags %}

{% block title %}Gestion de supports de diffusion{%endblock%}

{% block body %}

    <div class="container-fluid">
        <div class="col-md-10">
            <h3 class="page-header">
                Gérer les supports de diffusion
                {% if user.is_authenticated %}
                     <a class="related-widget-wrapper-link add-related" id="add_id_prod_type"
                        href="JavaScript:newPopup('/admin/bdmultimedia/supportdiffusion/add/?_to_field=id&amp;_popup=1');"
                        title="Ajouter un autre support de diffusion">
                        <img src="/static/media/icon-addlink.svg" alt="Ajouter"/>
                    </a>
                {% endif %}
            </h3>
        </div>
        <!-- /.col-lg-12 -->
    </div>
<div class="container-fluid">
    <ul>
        {% for supportDiffusion in all_supportDiffusion %}
            <li class="list-group-item"> {{ supportDiffusion.nom }}&nbsp;

                {% if user.is_authenticated %}
                    <a class="related-widget-wrapper-link add-related" id="change_id_prod_type"
                        href="JavaScript:newPopup('/admin/bdmultimedia/supportdiffusion/{{ supportDiffusion.id }}/change/?_to_field=id&_popup=1');"
                        title="Modifier le support de diffusion">
                        <img src="/static/media/icon-changelink.svg" alt="Modifier"/>
                    </a>
                    <a class="related-widget-wrapper-link add-related" id="delete_id_prod_type"
                        href="JavaScript:newPopup('/admin/bdmultimedia/supportdiffusion/{{ supportDiffusion.id }}/delete/?_to_field=id&_popup=1');"
                        title="Suprimer le support de diffusion">
                        <img src="/static/media/icon-deletelink.svg" alt="Suprimer"/>
                    </a>
                {% endif %}

            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}