{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap_tags %}

{% block title %}Gestion des rôles des instruments "masculins"{%endblock%}

{% block body %}

    <div class="container-fluid">
        <div class="col-md-10">
            <h3 class="page-header">
                Gérer les rôles des instruments "masculins"
                {% if user.is_authenticated %}
                     <a class="related-widget-wrapper-link add-related" id="add_id_role_pers_anim_hommes"
                        href="JavaScript:newPopup('/admin/bdmultimedia/roleinstrhomme/add/?_to_field=id&amp;_popup=1');"
                        title="Ajouter un autre rôle">
                        <img src="/static/media/icon-addlink.svg" alt="Ajouter"/>
                    </a>
                {% endif %}
            </h3>
        </div>
        <!-- /.col-lg-12 -->
    </div>
<div class="container-fluid">
    <ul>
        {% for roleinstrhommes in all_roleInstrHommes %}
            <li class="list-group-item"> {{ roleinstrhommes.nom }}&nbsp;

                {% if user.is_authenticated %}
                    <a class="related-widget-wrapper-link add-related" id="change_id_role_instrhommes"
                        href="JavaScript:newPopup('/admin/bdmultimedia/roleinstrhomme/{{ roleinstrhommes.id }}/change/?_to_field=id&_popup=1');"
                        title="Modifier le rôle">
                        <img src="/static/media/icon-changelink.svg" alt="Modifier"/>
                    </a>
                    <a class="related-widget-wrapper-link add-related" id="delete_id_role_instrhommes"
                        href="JavaScript:newPopup('/admin/bdmultimedia/roleinstrhomme/{{ roleinstrhommes.id }}/delete/?_to_field=id&_popup=1');"
                        title="Suprimer le rôle">
                        <img src="/static/media/icon-deletelink.svg" alt="Suprimer"/>
                    </a>
                {% endif %}

            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}