{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap_tags %}

{% block title %}Gestion des notions de languages musical{%endblock%}

{% block body %}

    <div class="container-fluid">
        <div class="col-md-10">
            <h3 class="page-header">
                Gérer les notions de language musical
                {% if user.is_authenticated %}
                     <a class="related-widget-wrapper-link add-related" id="add_id_language_musical"
                        href="JavaScript:newPopup('/admin/bdmultimedia/languagemusical/add/?_to_field=id&amp;_popup=1');"
                        title="Ajouter une autre notion de language musical">
                        <img src="/static/media/icon-addlink.svg" alt="Ajouter"/>
                    </a>
                {% endif %}
            </h3>
        </div>
        <!-- /.col-lg-12 -->
    </div>
<div class="container-fluid">
    <ul>
        {% for languagemusical in all_languageMusical %}
            <li class="list-group-item"> {{ languagemusical.nom }}&nbsp;

                {% if user.is_authenticated %}
                    <a class="related-widget-wrapper-link add-related" id="change_id_language_musical"
                        href="JavaScript:newPopup('/admin/bdmultimedia/languagemusical/{{ languagemusical.id }}/change/?_to_field=id&_popup=1');"
                        title="Modifier la notion de language musical">
                        <img src="/static/media/icon-changelink.svg" alt="Modifier"/>
                    </a>
                    <a class="related-widget-wrapper-link add-related" id="delete_id_language_musical"
                        href="JavaScript:newPopup('/admin/bdmultimedia/languagemusical/{{ languagemusical.id }}/delete/?_to_field=id&_popup=1');"
                        title="Suprimer la notion de language musical">
                        <img src="/static/media/icon-deletelink.svg" alt="Suprimer"/>
                    </a>
                {% endif %}

            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}