{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap_tags %}

{% block title %}Gestion des rôles des animaux au genre indéterminé{%endblock%}

{% block body %}

    <div class="container-fluid">
        <div class="col-md-10">
            <h3 class="page-header">
                Gérer les rôles des animaux au genre indéterminé
                {% if user.is_authenticated %}
                     <a class="related-widget-wrapper-link add-related" id="add_id_role_pers_anim_neutre"
                        href="JavaScript:newPopup('/admin/bdmultimedia/roleanimauxneutre/add/?_to_field=id&amp;_popup=1');"
                        title="Ajouter un autre rôle">
                        <img src="/static/media/icon-addlink.svg" alt="Ajouter"/>
                    </a>
                {% endif %}
            </h3>
        </div>
        <!-- /.col-lg-12 -->
    </div>
<div class="container-fluid">
    <ul>
        {% for roleanimauxneutre in all_roleAnimauxNeutre %}
            <li class="list-group-item"> {{ roleanimauxneutre.nom }}&nbsp;

                {% if user.is_authenticated %}
                    <a class="related-widget-wrapper-link add-related" id="change_id_role_animauxneutre"
                        href="JavaScript:newPopup('/admin/bdmultimedia/roleanimauxneutre/{{ roleanimauxneutre.id }}/change/?_to_field=id&_popup=1');"
                        title="Modifier le rôle">
                        <img src="/static/media/icon-changelink.svg" alt="Modifier"/>
                    </a>
                    <a class="related-widget-wrapper-link add-related" id="delete_id_role_animauxneutre"
                        href="JavaScript:newPopup('/admin/bdmultimedia/roleanimauxneutre/{{ roleanimauxneutre.id }}/delete/?_to_field=id&_popup=1');"
                        title="Suprimer le rôle">
                        <img src="/static/media/icon-deletelink.svg" alt="Suprimer"/>
                    </a>
                {% endif %}

            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}