{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap_tags %}

{% block title %}Gestion des modes d'hébergement{%endblock%}

{% block body %}

    <div class="container-fluid">
        <div class="col-md-10">
            <h3 class="page-header">
                Gérer les modes d'hébergement
                {% if user.is_authenticated %}
                     <a class="related-widget-wrapper-link add-related" id="add_id_mode_hebergement"
                        href="JavaScript:newPopup('/admin/bdmultimedia/modehebergement/add/?_to_field=id&amp;_popup=1');"
                        title="Ajouter un autre mode d'hébergement">
                        <img src="/static/media/icon-addlink.svg" alt="Ajouter"/>
                    </a>
                {% endif %}
            </h3>
        </div>
        <!-- /.col-lg-12 -->
    </div>
<div class="container-fluid">
    <ul>
        {% for modeHebergement in all_modeHebergement %}
            <li class="list-group-item"> {{ modeHebergement.nom }}&nbsp;

                {% if user.is_authenticated %}
                    <a class="related-widget-wrapper-link add-related" id="change_id_mode_hebergement"
                        href="JavaScript:newPopup('/admin/bdmultimedia/modehebergement/{{ modeHebergement.id }}/change/?_to_field=id&_popup=1');"
                        title="Modifier le mode d'hébergement">
                        <img src="/static/media/icon-changelink.svg" alt="Modifier"/>
                    </a>
                    <a class="related-widget-wrapper-link add-related" id="delete_id_mode_hebergement"
                        href="JavaScript:newPopup('/admin/bdmultimedia/modehebergement/{{ modeHebergement.id }}/delete/?_to_field=id&_popup=1');"
                        title="Suprimer le mode d'hébergement">
                        <img src="/static/media/icon-deletelink.svg" alt="Suprimer"/>
                    </a>
                {% endif %}

            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}