{% extends "base.html" %}
{% load bootstrap_pagination %}
{% load bootstrap3 %}
{% load bootstrap_tags %}
{% block title %} Recherche par mots-clés : "{{ query }}" {% endblock %}
{% block body %}
<body>
<div id="loader"></div>
    <div class='container-fluid'>
            <div class="col-md-8">
                <form method='GET' class='' action='/recherche_motcle/' onsubmit="showLoader()">
                    {% csrf_token %}
                    <div class="input-group form-group-no-border mx-auto" style="margin-bottom: 0px; font-size: 32px;">
                        <span class="input-group-addon cfe-nav" style='color:#000'>
                            <button style="border: none; background-color: #eeeeee;;"><span class="glyphicon glyphicon-search" aria-hidden="true" style="color: #404040;"></span></button>
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </span>
                        <input type="text" name="q" data-toggle="popover" data-placement="bottom" data-content='Appuyez sur la touche "enter" pour lancer la recherche' class="form-control cfe-nav mt-0 py-3" placeholder="Recherche par mots-clés" value="" style="" data-original-title="" title="" autofocus="autofocus">

                    </div>
                </form>
                <small><a href="../recherche">Recherche avancée</a></small>
            </div>
    </div>
    <br>
    <div class="container-fluid">
        <div class="col-md-11">
            {% if query is not None %}
                <div class="page-header">
                    <h4>{% if count == 0 %}
                        Aucun dispositif trouvé pour
                    {% elif count == 1 %}
                        {{ count }} dispositif trouvé pour
                    {% else %}
                        {{ count }} dispositifs trouvés pour
                    {% endif %}
                        "{{ query }}": </h4>
                </div>
            {% endif %}
           <!--<p class="text-center">Classer par : <a href="{{new_sort_url}}&sort=titre">titre (a)</a> | <a href="{{new_sort_url}}&sort=-titre">titre (d)</a> | <a href="{{new_sort_url}}&sort=mise_en_ligne_date">date (a)</a> | <a href="{{new_sort_url}}&sort=-mise_en_ligne_date">date (d)</a></p>-->
            <div class="infinite-container" id="result">
                {% for outil in object_list %}
                    {% if outil.page_outil == True and outil.integration == "" %}
                        <div class="infinite-item" id="pageoutil">
                            <iframe src="{{ outil.url }}" height="200" width="200" sandbox></iframe>
                            <a href="../result{{ outil.pk }}" class="lien"></a>
                            <h5 class="titre">{{ outil.titre }}</h5>
                        </div>
                    {% elif outil.page_outil == False and outil.integration == "" %}
                        <div class="infinite-item" id="noiframe">
                                <img src="../static/media/backup_resultat.png">
                                <a href="../result{{ outil.pk }}" class="lien"></a>
                                <h5 class="titre">{{ outil.titre }}</h5>
                        </div>
                    {% else %}
                        {% autoescape off %}
                            <div class="infinite-item" id="integration">
                                {{ outil.integration }}
                                <a href="../result{{ outil.pk }}" class="lien"></a>
                                <h5 class="titre">{{ outil.titre }}</h5>
                            </div>
                        {% endautoescape %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-10" align="center">
        {% if page_obj.has_next %}
            <a class="infinite-more-link" href="/recherche_motcle/?q={{query}}&page={{ page_obj.next_page_number }}"></a>
        {% endif %}
          <div class="loading" style="display: none;">
              <p style="color: #337ab7;" class="chargement"><br>Chargement de plus de résultats<span>.</span><span>.</span><span>.</span></p>
              <br>
          </div>
    </div>
    <script>
        var infinite = new Waypoint.Infinite({
          element: $('.infinite-container')[0],
          onBeforePageLoad: function () {
            $('.loading').show();
          },
          onAfterPageLoad: function ($items) {
            $('.loading').hide();
          }
        });
    </script>
    <script type="text/javascript" src="../static/scripts/loader.js"></script>
</body>
{% endblock %}
{% block footer %}
<br><br>
{% endblock %}