{% extends "base.html" %}
{% load bootstrap_pagination %}
{% load bootstrap3 %}
{% load bootstrap_tags %}
{% load user_agents %}
{% block title %}
    {% if query is not None %}
        Recherche : "{{ query }}"
    {% else %}
        Recherche par mots-clés
    {% endif %}
{% endblock %}
{% block body %}
<body>
<div class="loader-section" id="loader-section"></div>
<div id="loader"></div>
<div id="loader-text">
    <p>Veuillez patienter,<br>la recherche peut prendre quelques instants</p>
</div>
    <div class='container-fluid'>
            <div class="col-md-8">
                <form method='GET' class='' action='/recherche_motcle/' onsubmit="showLoader()">
                    {% csrf_token %}
                    <div class="input-group form-group-no-border mx-auto" style="margin-bottom: 0px; font-size: 32px;">
                        <span class="input-group-addon cfe-nav" style='color:#000'>
                            <button style="border: none; background-color: #eeeeee;;"><span class="glyphicon glyphicon-search" aria-hidden="true" style="color: #404040;"></span></button>
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </span>
                        {% if query is not None %}
                            <input id="input" type="text" name="q" data-toggle="popover" data-placement="bottom" data-content='Appuyez sur la touche "enter" pour lancer la recherche' class="form-control cfe-nav mt-0 py-3" placeholder="Recherche par mots-clés" value="{{query}}" autofocus>
                        {% else %}
                            <input id="input" type="text" name="q" data-toggle="popover" data-placement="bottom" data-content='Appuyez sur la touche "enter" pour lancer la recherche' class="form-control cfe-nav mt-0 py-3" placeholder="Recherche par mots-clés" autofocus>
                        {% endif %}

                    </div>
                </form>
                <small><a href="../recherche">Recherche avancée</a></small>
            </div>
    </div>
    <br>
    <div class="container-fluid">
        <div class="col-md-11">
            {% if query is not None %}
                <div class="page-header">
                    <h4>{% if count == 0 %}
                        Aucun dispositif trouvé pour
                    {% elif count == 1 %}
                        {{ count }} dispositif trouvé pour
                    {% else %}
                        {{ count }} dispositifs trouvés pour
                    {% endif %}
                        "{{ query }}" </h4>{% if user.username == "Charles" %}<small>
                        ({{ temps |floatformat:"-2" }} secondes)</small>{% endif %}
                </div>
            {% endif %}
           <!--<p class="text-center">Classer par : <a href="{{new_sort_url}}&sort=titre">titre (a)</a> | <a href="{{new_sort_url}}&sort=-titre">titre (d)</a> | <a href="{{new_sort_url}}&sort=mise_en_ligne_date">date (a)</a> | <a href="{{new_sort_url}}&sort=-mise_en_ligne_date">date (d)</a></p>-->
            {% if request|is_mobile or request|is_tablet %}
            <div class="container-fluid">
                <div class="col-md-10">
                    <ul>
                        {% for outil in object_list %}
                        <li><a href="/result{{outil.id}}/"> {{ outil.titre }} </a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% else %}
            <div class="infinite-container" id="result">
                {% for outil in object_list %}
                    {% if outil.page_outil == True and outil.integration == "" %}
                        <div class="infinite-item" id="pageoutil">
                            <iframe src="{{ outil.url }}" height="200" width="200" sandbox></iframe>
                            <a href="../result{{ outil.pk }}" class="lien"></a>
                            <h5 class="titre">{{ outil.titre }}</h5>
                        </div>
                    {% elif outil.page_outil == False and outil.integration == "" %}
                        <div class="infinite-item" id="noiframe">
                            {% if forloop.last and count|add:"-1"|divisibleby:5 %}
                                <img src="../static/media/backup_resultat.png" style="top : 0px">
                                <h5 class="titre" style="top : -7px;">{{ outil.titre }}</h5>
                            {% else %}
                                <img src="../static/media/backup_resultat.png">
                                <h5 class="titre">{{ outil.titre }}</h5>
                            {% endif %}
                                <a href="../result{{ outil.pk }}" class="lien"></a>
                        </div>
                    {% else %}
                        {% autoescape off %}
                            <div class="infinite-item" id="integration">
                                {{ outil.integration }}
                                <a href="../result{{ outil.pk }}" class="lien"></a>
                                <h5 class="titre">{{ outil.titre }}</h5>
                            </div>
                        {% endautoescape %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            </div>
        </div>
    </div>

    {% if request|is_mobile or request|is_tablet %}
    {% if count > 20 %}
        <center>
            {% bootstrap_paginate page_obj range=10 show_prev_next="false" show_first_last="true" %}
        </center>
    {% endif %}
    {% else %}

    <br><br>
    <div class="col-md-10" align="center">
        {% if page_obj.has_next %}
            <a class="infinite-more-link" href="/recherche_motcle/?q={{query}}&page={{ page_obj.next_page_number }}"></a>
        {% endif %}
          <div class="loading" style="display: none;">
              <p style="color: #337ab7;" class="chargement"><br>Chargement de plus de résultats<span>.</span><span>.</span><span>.</span></p>
              <br>
          </div>
    </div>
    {% endif %}

    <script>
        var infinite = new Waypoint.Infinite({
          element: $('.infinite-container')[0],
          onBeforePageLoad: function () {
            $('.loading').show();
          },
          onAfterPageLoad: function ($items) {
            $('.loading').hide();
          }
        });
    </script>
    <script type="text/javascript" src="../static/scripts/loader.js"></script>
</body>
{% endblock %}
{% block footer %}
{% if request|is_mobile or request|is_tablet %}
    <div class="col-md-10 col-md-offset-1" style="opacity:0.5; background-color:#fff;" align="center">
        <br>
        <a href="http://p2m.oicrm.org" target="_blank">
            <img src="../static/media/logoP2Mmini.png" width="8%" alt="logoP2M">
        </a>
        <br><br>
    </div>
{% else %}
    <div class="col-md-10 col-md-offset-1" style="left: -100px; opacity:0.5; background-color:#fff;" align="center">
        <br>
        <a href="http://p2m.oicrm.org" target="_blank">
            <img src="../static/media/logoP2Mmini.png" width="8%" alt="logoP2M">
        </a>
        <br><br>
    </div>
{% endif %}
{% endblock %}