<!DOCTYPE html>
<html lang="fr">

{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap_tags %}

{% block title %} Recherche avancée - Catalogue raisonné de dispositifs de médiation de la musique{% endblock %}

{% block body %}
<div class="bggris"></div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2"  id="nobg">
	<p>&nbsp;</p>
	<p>&nbsp;</p>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><center>Recherche avancée</center></h3>
                    <small><center><a href="/recherche_motcle/">Recherche par mots-clés</a></center></small>
                </div>
                <div class="panel-body">

                    <form action="/list/" method="get">
                        {% csrf_token %}
                        {{ form|as_bootstrap }}
                        <div class="form-actions">
                          <button type="submit" class="btn btn-primary" name="submit">Chercher</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<!--<script>
    function affInterdisc(){
        if(document.getElementById("id_interdisciplinarite").checked == true){
            $("#div_id_evocation_autre__nom").show(800).css("display", "inline-block");
            $("#div_id_notion_concept").show(800).css("display", "inline-block");
            $("#div_id_notion_experiences").show(800).css("display", "inline-block");
            $("#div_id_notion_pratiques").show(800).css("display", "inline-block");
        }
        else{
            $("#div_id_evocation_autre__nom").hide(800);
            $("#div_id_notion_concept").hide(800);
            $("#div_id_notion_experiences").hide(800);
            $("#div_id_notion_pratiques").hide(800);
        }
    }
    function affAnalyse(){
        if(document.getElementById("id_analyse_musicale").checked == true){
            $("#div_id_orchestration__nom").show(800).css("display", "inline-block");
            $("#div_id_structure__nom").show(800).css("display", "inline-block");
            $("#div_id_language_musical__nom").show(800).css("display", "inline-block");
            $("#div_id_genre_musical__nom").show(800).css("display", "inline-block");
            $("#div_id_style_musical__nom").show(800).css("display", "inline-block");
        }
        else{
            $("#div_id_orchestration__nom").hide(800);
            $("#div_id_structure__nom").hide(800);
            $("#div_id_language_musical__nom").hide(800);
            $("#div_id_genre_musical__nom").hide(800);
            $("#div_id_style_musical__nom").hide(800);
        }
    }
    function affContexte(){
        if(document.getElementById("id_elements_contextuels").checked == true){
            $("#div_id_experience_musicale__nom").show(800).css("display", "inline-block");
            $("#div_id_contexte__nom").show(800).css("display", "inline-block");
            $("#div_id_role_evolution__nom").show(800).css("display", "inline-block");
            $("#div_id_epoque").show(800).css("display", "inline-block");
        }
        else{
            $("#div_id_experience_musicale__nom").hide(800);
            $("#div_id_contexte__nom").hide(800);
            $("#div_id_role_evolution__nom").hide(800);
            $("#div_id_epoque").hide(800);
        }
    }
    function affReferencement(){
        if(document.getElementById("id_referencement").checked == true){
            $("#div_id_format__nom").show(800).css("display", "inline-block");
            $("#div_id_forme_narrative__nom").show(800).css("display", "inline-block");
            $("#div_id_interactivite").show(800).css("display", "inline-block");
            $("#div_id_personnification_service").show(800).css("display", "inline-block");
            $("#div_id_producteur_type__nom").show(800).css("display", "inline-block");
            $("#div_id_support_diffusion__nom").show(800).css("display", "inline-block");
            $("#div_id_ensemble_thematique").show(800).css("display", "inline-block");
        }
        else{
            $("#div_id_format__nom").hide(800);
            $("#div_id_forme_narrative__nom").hide(800);
            $("#div_id_interactivite").hide(800);
            $("#div_id_personnification_service").hide(800);
            $("#div_id_producteur_type__nom").hide(800);
            $("#div_id_support_diffusion__nom").hide(800);
            $("#div_id_ensemble_thematique").hide(800);
        }
    }
    function affDecouvrabilite(){
        if(document.getElementById("id_decouvrabilite").checked == true){
            $("#div_id_narration_langue__nom").show(800).css("display", "inline-block");
            $("#div_id_mode_consultation__nom").show(800).css("display", "inline-block");
        }
        else{
            $("#div_id_narration_langue__nom").hide(800);
            $("#div_id_mode_consultation__nom").hide(800);
        }
    }
    function affEvocations(){
        if(document.getElementById("id_evocations").checked == true){
            $("#div_id_evocation_litteraire").show(800).css("display", "inline-block");
            $("#div_id_evocation_graphique__nom").show(800).css("display", "inline-block");
            $("#div_id_evocation_plastique__nom").show(800).css("display", "inline-block");
        }
        else{
            $("#div_id_evocation_litteraire").hide(800);
            $("#div_id_evocation_graphique__nom").hide(800);
            $("#div_id_evocation_plastique__nom").hide(800);
        }
    }
    window.setInterval(function(){
        affInterdisc()
        affAnalyse()
        affContexte()
        affReferencement()
        affDecouvrabilite()
        affEvocations()
    }, 100);
</script>-->
{% endblock %}