<!DOCTYPE html>
<html lang="fr">

{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap_tags %}


{% block title %} Recherche avancée - Catalogue raisonné de dispositifs de médiation de la musique{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
	<p>&nbsp;</p>
	<p>&nbsp;</p>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><center>Recherche avancée</center></h3>
                    <small><center><a href="/">Recherche par mots-clés</a></center></small>
                </div>
                <div class="panel-body">

                    <form action="/list/" method="get">
                        {% csrf_token %}
                        {{ form|as_bootstrap }}
                        <div class="form-actions">
                          <button type="submit" class="btn btn-primary" name="submit">Chercher</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}