@charset "utf-8";
@import url("//hello.myfonts.net/count/281358");

ul {
    list-style-type: circle;
}

li,
div {
    font-family: 'UniversLTPro-55Roman';
    src: url('webfonts/281358_0_unhinted_0.woff') format('woff'), url('webfonts/281358_0_unhinted_0.ttf') format('truetype');
    font-size: 12pt;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'UniversLTPro-55Roman';
    src: url('webfonts/281358_0_unhinted_0.woff') format('woff'), url('webfonts/281358_0_unhinted_0.ttf') format('truetype');
    text-transform: uppercase;
}

.bggris{
    position: fixed;
    top: 0;
    width: 150%;
    height: 150%;
    background-color: #e6e6e9;
    z-index:-1;
}
#nobg{
    background-color : #e6e6e9;
}

.col-md-10{
    background-color : white;
    color : black;
}

.page-header{
    border-bottom : thin solid #ccc;
}


/*
.navbar .navbar-nav li #rouge{
    color : #b96540;
}
.navbar .navbar-nav li #bleu{
    color : #4eabb4;
}
.navbar .navbar-nav li #jaune{
    color : #ebc400;
}
.navbar .navbar-nav li #vert{
    color : #8db650;
}

.navbar .navbar-nav li a{
    opacity : 0.6;
}
.navbar .navbar-nav li a{
    opacity : 0.6;
}
*/

h4 {
    font-size: 13pt;
}

h3 {
    font-size: 16pt;
    font-weight: bold;
}

#referencement, #stereotypes{
    border : medium solid #4eabb4;
    border-radius : 8px;
    box-shadow : 5px 5px 5px lightgray;
    padding-bottom : 1em;
    margin : 1em;
    width : 80%
}


#decouvrabilite, #sollicitation{
    border: medium solid #b96540;
    border-radius : 8px;
    box-shadow : 5px 5px 5px lightgray;
    padding-bottom : 1em;
    margin : 1em;
    width : 80%
}

#discours, #interdisciplinarite{
    border: medium solid #ebc400;
    border-radius : 8px;
    box-shadow : 5px 5px 5px lightgray;
    padding-bottom : 1em;
    margin : 1em;
    width : 80%
}

#place, #extra-sonore {
    border: medium solid #8db650;
    border-radius : 8px;
    box-shadow : 5px 5px 5px lightgray;
    padding-bottom : 1em;
    margin : 1em;
    width : 80%
}
#referencement .page-header, #stereotypes .page-header{
    border-bottom : thin solid #4eabb4;
}

#decouvrabilite .page-header, #sollicitation .page-header{
    border-bottom : thin solid #b96540;
}

#discours .page-header, #interdisciplinarite .page-header{
    border-bottom: thin solid #ebc400;

}

#place .page-header, #extra-sonore .page-header {
    border-bottom: thin solid #8db650;
}


aside {
    position: fixed;
    left: 83%;
    z-index: 2;
}

section {
    margin-left: 1em;
}

small {
    color: darkgray;
}

.form-group{
    margin: -2.5px;
    display : none;
    padding : 2em;
    width : 100%;

    vertical-align:top;
}

/*
.form-group:nth-child(even){
    border-right: thin #ccc solid;
}

.form-group:nth-child(odd){
    border-left: thin #ccc solid;
}
*/

.btn{
    float: right;
}

#div_id_analyse_musicale,
#div_id_interdisciplinarite,
#div_id_elements_contextuels,
#div_id_referencement,
#div_id_decouvrabilite,
#div_id_evocations,
#div_id_sonore_valeur{
    width : 100%;
    border : medium solid black;
    display : inline-block;
}

section iframe {
/*  border-left : 2px solid #4eabb4;
    border-top: 2px solid #8db650;
    border-right : 2px solid #ebc400;
    border-bottom : 2px solid #b96540;*/
    border : 2px solid #999;
    margin-left : 1em;
    max-width : 97%;
}

center iframe,
center img {
    position: absolute;
    top: 20;
    left: 15px;
    display: inline-block;
    width: 116%;
    height: 400px;
    border: solid medium #4eabb4;
    border-radius: 3px;
}



#alaune {
    position: absolute;
    top: 20;
    left: 30px;
    display: inline-block;
    width: 94%;
    height: 400px;
    z-index: 5;
}

@media only screen and (max-width: 991px) {
    center iframe,
    center img {
        position: absolute;
        top: 20;
        left: 15px;
        display: inline-block;
        width: 90%;
        height: 400px;
        border: solid medium #4eabb4;
    }
    #alaune {
        position: absolute;
        top: 20;
        left: 30px;
        display: inline-block;
        width: 87%;
        height: 400px;
        z-index: 5;
    }
}

.infinite-item iframe, .infinite-item img {
    border: solid medium #4eabb4;
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
}

.my-tool-tip{
    font-size : 12pt;
    color : #505050;
}

.my-tool-tip:hover{
    color: #ebc400;
}

.my-tool-tip + .tooltip > .tooltip-inner{
    background-color : black;
    text-align : left;
    padding : 10px;
    color : white;
    display : block;
    max-width : 450px;
}

.lien:hover {
    opacity: 0.2;
}

.lien {
    background-color: white;
    opacity: 0;
    transition: 0.3s;
}

.titre {
    position: absolute;
    top: -193px;
    left: 3px;
    z-index: 4;
    color: #4eabb4;
    background-color: #404040;
    padding: 5px;
    width: 194px;
}

.navbar-header img {
    opacity: 0.6;
}

.navbar-header img:hover {
    opacity: 1;
}


#loader-text {
    position: fixed;
    left: 40%;
    top: 62%;
    z-index: 10;
    display: none;
}

#loader-text p {
    color: white;
    text-align: center;
}

#loader {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top-color: #4eabb4;
    z-index: 10;

    -webkit-animation: spin 2s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top-color: #b96540;

    -webkit-animation: spin 3s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top-color: #ebc400;

    -webkit-animation: spin 1.5s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }
    to {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }
    to {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

.loader-section {
    display: none;
    position: fixed;
    top: 0;
    width: 120%;
    height: 150%;
    background-color: black;
    z-index: 9;
    opacity: 0.6;
}


@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
        opacity: .2;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
        opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
        opacity: .2;
    }
}

.chargement span {
    font-size: 30px;
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    /**
     * This makes sure that the starting style (opacity: .2)
     * of the animation is applied before the animation starts.
     * Otherwise we would see a short flash or would have
     * to set the default styling of the dots to the same
     * as the animation. Same applies for the ending styles.
     */
    animation-fill-mode: both;
}

.chargement span:first-child {
    animation-delay: .6s
}

.chargement span:nth-child(2) {
    animation-delay: .4s;
}

.chargement span:nth-child(3) {
    animation-delay: .8s;
}

#pageoutil,
#noiframe,
#integration {
    display: inline;
    position: relative;
}

#pageoutil iframe {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#pageoutil a,
#integration a {
    position: absolute;
    top: -100;
    left: 0;
    display: inline-block;
    width: 200px;
    height: 200px;
    z-index: 5;
}

#noiframe img {
    position: relative;
    display: inline-block;
    top: -186px;
    margin-bottom: -180px;
}

#noiframe a {
    position: absolute;
    top: -200;
    left: 0;
    display: inline-block;
    width: 200px;
    height: 200px;
    z-index: 5;
}

.form-row field-ensemble_thematique_nom,
.form-row field-commentaire_nombre,
.form-row field-prem_onglet_autre,
.form-row field-deux_onglet_autre,
.form-row field-trois_onglet_autre
{
    display : none;
}

@-moz-document url-prefix() {
    .titre {
        top: -195px;
    }
    .infinite-container div:nth-of-type(5n + 6) .titre {
        top: 12px;
        left: -1013px;
    }
    .infinite-container div:nth-of-type(5n + 6) a {
        top: 19px !important;
        left: -1016px !important;
    }
    #pageoutil,
    #noiframe,
    #integration {
        width: 200px;
        heigth: 200px;
        display: inline;
        position: relative;
    }
    #pageoutil a,
    #integration a,
    #noiframe a {
        top: -188px;
    }
}
