@charset "utf-8";
@import url("//hello.myfonts.net/count/281358");

ul {
    list-style-type: circle;
}

li,div {
    font-family: 'UniversLTPro-55Roman';
    src: url('webfonts/281358_0_unhinted_0.woff') format('woff'), url('webfonts/281358_0_unhinted_0.ttf') format('truetype');
    font-size: 12pt;
}
.navbar-brand{
    text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'UniversLTPro-55Roman';
    src: url('webfonts/281358_0_unhinted_0.woff') format('woff'), url('webfonts/281358_0_unhinted_0.ttf') format('truetype');
    text-transform: uppercase;
}

h4 {
    font-size: 13pt;
}

h3 {
    font-size: 16pt;
    font-weight: bold;
}

aside{
    position: fixed;
    left: 83%;
}

section{
    margin-left: 1em;
}

small{
    color: darkgray;
}